# Dependencias
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json

# Entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de sistema
.DS_Store
Thumbs.db

# Directorios de logs
logs/
*.log

# Directorios de compilación
dist/
build/
out/

# Archivos de cobertura de pruebas
coverage/

# Archivos temporales
tmp/
temp/

# IDE y editores
.idea/
.vscode/
*.swp
*.swo
